*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #1E2020;
}

.contenedorgeneral {
    min-height: calc(100vh - 100px - 100px);
}

.bg-light {
    background-color: #141414 !important;
    width: 100%;
    height: 100px;
}

.navbar-nav {
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 30px;
}

.navbar-collapse {
    background-color: #141414;
}

.nav-link {
    color: #fff !important;
    padding: 15px;
    transition-duration: 0.5s;
    width: auto !important;
}

.img-fluid {
    width: 50px;
    position: absolute;
    top: 0;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.nav-item {
    padding: 15px !important;
}

.nav-link:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    color: #D11B35 !important;
}

#main-header {
    position: sticky; z-index: 2;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    color: #fff;
    animation: 2s aparicion 1; 
    transform-origin: top;
}

a {
    text-decoration: none;
    color: white;
}

.active {
    font-weight: bold;
}

.jumbotron {
    background-image: url(../images/banner.jpg);
    height: calc(100vh - 100px);
    width: auto;
    background-size: cover;
    animation: 2s aparicion 1; 
    transform-origin: top;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    margin-top: 20vh;
    width: 600px;
    color: #fff;
    font-size: 3rem;
}

@keyframes aparicion
{
    0% { opacity: 0; }
    50% { opacity: 0.8; }
}


.texto__inicio{
    text-align: left;
}

.texto__saludo{
    font-weight: 400;
    font-size: 2.3rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.botoncontactame {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    border: 2px solid #D11B35;
    background-color: #D11B35;
    border-radius: 8px;
    letter-spacing: 2px;
    padding: 10px;
    height: auto;
    transition: all 0.5s;
}

.botoncontactame:hover {
    font-size: 1.9rem;
    transition: all 0.5s;
    font-weight: 700;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3); 
box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: white;
}

.banner__imagen {
    height: calc(100vh - 100px);
    width: 100%;
    object-fit: cover;
}


.proyectos__cajaindex {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.proyectos__titulo {
    text-align: center;
    font-size: 2rem;
    margin: 50px 0 40px 0;
}

.contenedor__card {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: auto;
    width: 48%;
    margin-top: 1.7rem;
    background-color: #141414;
    border-radius: 10px !important;
}

.card-body {
    height: auto;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.card-text {
    font-size: 1rem;
}

.btn {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid #D11B35 !important;
    border-radius: 8px !important;
    background-color: #D11B35 !important;
    letter-spacing: 2px;
    padding: 10px;
    transition: all 0.5s;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    font-weight: 700;
}

.card-img-top {
    transition: all 0.5s;
}

.card-img-top:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.card-img {
    height: auto;
    width: 100%;
    background-color: #141414;
    overflow: hidden;
}


.formulario {
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 40%;
}

input {
    font-family: 'Montserrat', sans-serif;
}

textarea {
    font-family: 'Montserrat', sans-serif;
}

.formulario__titulo {
    text-align: center;
    font-size: 2rem;
    margin: 50px 0 40px 0;
}

.formulario__nombre {
color: #fff;
font-size: 16px;
width: 90%;
height: 30px;
border: 0;
padding: 5px;
margin: 8px;
background: transparent;
border-bottom: 1px solid #D11B35;
outline: none;
}

.formulario__mail {
color: #fff;
font-size: 16px;
width: 90%;
height: 30px;
border: 0;
padding: 5px;
margin: 8px;
background: transparent;
border-bottom: 1px solid #D11B35;
outline: none;
}

.formulario__mensaje {
color: #fff;
font-size: 16px;
width: 90%;
height: 100px;
border: 0;
padding: 5px;
margin: 8px;
background: transparent;
border-bottom: 1px solid #D11B35;
outline: none;
}

.formulario__enviar {
text-align: center;
font-size: 1.2rem;
font-weight: 700;
letter-spacing: 2px;
border-radius: 6px;
margin: 20px;
background:  #D11B35;
width: 30%;
height: 40px;
color: #fff;
cursor: pointer;
}


textarea {
    font-size: 1rem;
    width: 400px;
    border: none;
    padding: 5px;
    margin: 8px;
}

.textocontacto {
    margin: 0 auto;
    margin-top: 50px;
    padding: 8px;
    text-align: center;
    width: 65%;
}

.textocontacto__parrafo{
    text-align: justify;
    margin-top: 30px;
    height: 50px;
    font-size: 1.2rem;
}

.textocontacto__titulo{
    font-size: 2.2rem;
}

select {
    font-size: 12px;
    width: 100px;
    height: 25px;
}

.sobremi {
    text-align: center;
    margin: 0 auto;
    width: 65%;
}

.sobremi__titulo {
    margin-top: 30px;
    font-size: 2rem;
}

.sobremi__imagen{
    height: 400px;
    width: 400px;
    margin-top: 20px;
}

.sobremi__texto {
    text-align: left;
    margin: 30px 0 30px 0;
    height: 200px;
    font-size: 1.2rem;
}

.sobremi__caracteristicas {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 15rem;
}

.card-cualidades {
    margin-top: 3rem;
    padding: 3rem;
}

.card-img-top-cualidades {
    margin: 0 auto;
    width: 80px;
}

.card-text-cualidades {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1.5rem;
}


.habilidades__lenguajes {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    text-align: center;
}

.lenguajes__titulo {
    margin-bottom: 2.5rem;
    height: auto;
    font-size: 2rem;
}

.lenguajes__cuadro {
    margin: 20px auto;
}

.lenguajes__contenedor {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo__leng{
    font-size: 1.3rem;
    font-weight: 600;
    margin: .8rem;
}

.barra__caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 20px auto;
    width: 50%;
    height: auto;
}

.barra__fondo {
    display: flex;
    align-items: center;
    border: 2px solid #00000050;
    border-radius: 8px;
    outline: #D11B35 2px solid;
    background-color: #00000050;
    width: 90%;
    height: 30px;
}

.barra__contenido {
    justify-items: center;
    height: 100%;
    height: 98%;
    border: 1px solid #D11B35;
    border-radius: 5px;
    background-color: #D11B35;
}

.html {
    width: 90%;
}

.css {
    width: 80%;
}

.javascript {
    width: 10%;
}

.php {
    width: 20%;
}

.python {
    width: 5%;
}

.node {
    width: 10%;
}

.barra__num {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    background-color: #D11B35;
    height: 100%;
}

.programas__titulo{
    text-align: center;
    font-size: 2rem;
}

.programas__imagenes{
    text-align: center;
    margin: 20px auto;
}

.habilidades__programas{
    margin-top: 5rem;
    width: 100%;
}

.programas__titulo {
    margin-bottom: 2.5rem;
    text-align: center;
}

.caja__tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    width: 930px;
    height: 930px;
}

.caja__individual {
    margin: 25px auto;
    width: 300px;
    height: 250px;
    border: 2px solid #D11B35;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.titulo__programa {
    font-size: 1.2rem;
    font-weight: 600;
}

.bajada__programa {
    margin: 0 auto;
    width: 80%;
    font-size: 1.1rem;
    font-weight: 300;
}

.caja__individual__contenido {
    width: 100%;
    height: 100%;
}

.programa__logo{
    margin: 25px auto;
    height: 50px;
}

.proyectos__contenedor{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 95%;
    height: auto;
}

.contenedor__trabajo {
    margin:0 auto;
    width: 90%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px !important;
    border: 2px solid #D11B35;
    background-color: #141414;
    transition-duration: 0.5s;
}

.contenedor__imagen__trabajo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 360px;
}

.contenedor__imagen__trabajo__left {
    display: flex;
    align-items: center;
    width: 100%;
    height: 360px;
}

.w-100 {
    width: 90% !important;
    height: 90%;
    object-fit: cover;
    margin-left: 15px;
}

.contenido__proyecto {
    margin-top: 1rem;
}

.bajada__proyecto {
    margin-top: .5rem;
    height: auto;
}

.titulo__proyecto {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-weight:600;
    position: absolute;
    font-size: 1.7rem;
    width: 50%;
}

.w-100-2 {
    width: 90% !important;
    height: 90%;
    object-fit: cover;
    margin-left: 40px;
}

.bajada__proyecto {
    margin-top: 3.5rem;
    padding-right: 25px;
    width: 100%;
    font-size: 1.1rem;
    text-align: left;
}

.bajada__proyecto__left {
    margin-top: 3.5rem;
    padding-left: 22px;
    width: 100%;
    font-size: 1.1rem;
    text-align: left;
}

footer {
    position: absolute;
    font-size: 10pt;
    padding-top: 3px;
    display: block;
    background-color: #141414;
    width: 100%;
    height: 100px;
    text-align: center;
}

.wppfooter{
width: 30px;
height: 30px;
}
.igfooter{
width: 30px;
height: 30px;
}
.lkfooter{
width: 30px;
height: 30px;
}
.githubfooter{
width: 30px;
height: 30px;
}

.imagenesfooter{
margin-top: 12px;
}

@media only screen and (max-width: 992px) {

    /* SECCION SOBRE MI */

    .sobremi__imagen{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .sobremi__texto {
        font-size: 1.1rem;
    }
    
    .card-text-cualidades {
        font-size: 1.2rem;
    }

    /* FORMULARIO */

    .formulario {
        width: 70%;
    }

    /* SECCION PROYECTOS */

    .contenedor__trabajo {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;
    }

    .contenido__proyecto {
        margin-top: 1rem;
    }
    
    .contenedor__imagen__trabajo {
        width: 100%;
        height: 360px;
        margin-top: 1rem;
    }

    .contenedor__imagen__trabajo__left {
        width: 100%;
        height: 360px;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        order: -1;
    }
    
    .w-100 {
        width: 85% !important;
        height: 90%;
        object-fit: cover;
        margin-left: 15px;
        margin:auto;
    }
    
    .titulo__proyecto {
        position: relative;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    
    .w-100-2 {
        width: 85% !important;
        height: 90%;
        object-fit: cover;
        margin:auto;
    }
    
    .bajada__proyecto {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem !important;
        padding: 0;
        width: 85%;
        margin: auto;
        font-size: 1.1rem;
        text-align: left;
    }
    
    .bajada__proyecto__left {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem !important;
        padding: 0;
        width: 85%;
        margin: auto;
        font-size: 1.1rem;
        text-align: left;
    }

    .proyectos__contenedor{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }


    /* SECCION HABILIDADES */
    
    .barra__caja {
        width: 80%;
    }
    
    .barra__fondo {
        background-color: #00000050;
        width: 90%;
        height: 25px;
    }
    
    .barra__contenido {
        height: 23px;
    }
    
    .caja__tarjetas {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .caja__individual {
        margin: 25px auto;
        padding-bottom: 1rem;
        width: 80%;
        height: auto;
    }
}


@media only screen and (max-width: 768px) { 

    .navbar-nav {
        margin-left: 15px !important;
    }

    .nav-link {
        color: #fff !important;
        width: 25%;
        margin-top: .5rem;
        padding: .5rem;
    }

    /* SECCION INDEX */

    .card {
        width: 85%;
    }
    
    .card-img {
        height: auto;
    }
    

.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 20vh;
    width: 600px;
    color: #fff;
    font-size: 2.5rem;
}

    .texto__inicio{
        text-align: center;
        width: 100%;
    }
    
    .texto__saludo{
        width: 70%;
        font-weight: 400;
        font-size: 2.2rem;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .proyectos__contenedorgrid {
        grid-template-columns: 1fr;
    }
    
    .formulario {
        width: 80%;
    }

    .botoncontactame{
        margin-top: 70px;
        top: 55%;
    }
    

    /* SECCION PROYECTOS */

    .contenedor__trabajo {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
    }

    .contenido__proyecto {
        margin-top: 1rem;
    }
    
    .contenedor__imagen__trabajo {
        width: 100%;
        height: 360px;
        margin-top: 1rem;
    }

    .contenedor__imagen__trabajo__left {
        width: 100%;
        height: 360px;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        order: -1;
    }
    
    .w-100 {
        width: 85% !important;
        height: 90%;
        object-fit: cover;
        margin-left: 15px;
        margin:auto;
    }
    
    .titulo__proyecto {
        position: relative;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    
    .w-100-2 {
        width: 85% !important;
        height: 90%;
        object-fit: cover;
        margin:auto;
    }
    
    .bajada__proyecto {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem !important;
        padding: 0;
        width: 85%;
        margin: auto;
        font-size: 1.1rem;
        text-align: left;
    }
    
    .bajada__proyecto__left {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem !important;
        padding: 0;
        width: 85%;
        margin: auto;
        font-size: 1.1rem;
        text-align: left;
    }

    .proyectos__contenedor{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }

    /* SECCION SOBRE MI */
    
    .sobremi {
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
    
    .sobremi__titulo {
        margin-top: 30px;
        font-size: 2rem;
    }

    .sobremi__imagen{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .sobremi__texto {
        margin: 0 auto;
        width: 90%;
        height: auto;
        font-size: 1rem;
        text-align: left;
    }
    
    .sobremi__caracteristicas {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        height: auto;
    }
    
    .card-text-cualidades {
        font-size: 1.2rem;
    }

     /* SECCION HABILIDADES */
    
    .barra__caja {
        width: 80%;
    }
    
    .barra__fondo {
        background-color: #00000050;
        width: 90%;
        height: 25px;
    }
    
    .barra__contenido {
        justify-items: center;
        height: 25px;
        background-color: #D11B35;
    }
    
    .barra__num {
        font-size: 1.1rem;
    }

    .programas__titulo{
        text-align: center;
        font-size: 2rem;
    }
    
    .habilidades__programas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .caja__tarjetas {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .caja__individual {
        margin: 25px auto;
        padding-bottom: 1rem;
        width: 80%;
        height: auto;
    }
    
    .titulo__programa {
        font-size: 1.2rem;
        height: auto;
    }
    
    .bajada__programa {
        font-size: 1.1rem;
        height: auto;
    }
    
    .programa__logo{
        height: 70px;
    }

    /* SECCION CONTACTO */

    .textocontacto {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .textocontacto__parrafo{
        height: auto;
        font-size: 1.1rem;
    }


    
}



@media only screen and (max-width: 576px) {

    .navbar-nav {
        margin-left: 15px !important;
    }

    .nav-link {
        color: #fff !important;
        width: 25%;
        margin-top: .5rem;
        padding: .5rem;
    }

    /* SECCION INDEX */

    .card {
        width: 85%;
    }
    
    .card-img {
        height: auto;
    }
    

.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 20vh;
    width: 600px;
    color: #fff;
    font-size: 2.5rem;
}

    .texto__inicio{
        text-align: center;
        width: 100%;
    }
    
    .texto__saludo{
        width: 70%;
        font-weight: 400;
        font-size: 2.2rem;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .proyectos__contenedorgrid {
        grid-template-columns: 1fr;
    }
    
    .formulario {
        width: 90%;
    }

    .botoncontactame{
        margin-top: 70px;
        top: 55%;
    }
    
    /* SECCION PROYECTOS */

    
    .contenedor__trabajo {
        width: 90%;
        height: auto;
    }
    
    .contenedor__imagen__trabajo {
        width: 100%;
        height: 360px;
    }
    
    .contenedor__imagen__trabajo__left {
        width: 100%;
        height: 360px;
        display: flex;
        flex-direction: column;
        order: -1;
    }

    .w-100 {
        width: 85% !important;
        height: 90%;
        object-fit: cover;
        margin-left: 15px;
        margin:auto;
    }
    
    
    .titulo__proyecto {
        position: relative;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    
    .w-100-2 {
        width: 85% !important;
        height: 90%;
        object-fit: cover;
        margin:auto;
    }
    
    .bajada__proyecto {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem !important;
        padding: 0;
        width: 85%;
        margin: auto;
        font-size: 1.1rem;
        text-align: left;
    }
    
    .bajada__proyecto__left {
        margin-top: 2.5rem;
        padding: 0;
        width: 85%;
        margin: auto;
        font-size: 1.1rem;
        text-align: left;
    }

    .proyectos__contenedor{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }

    /* SECCION CONTACTO */

    .textocontacto {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .textocontacto__parrafo{
        height: auto;
        font-size: 1.1rem;
    }
    

    /* SECCION SOBRE MI */
    
    .sobremi {
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
    
    .sobremi__titulo {
        margin-top: 30px;
        font-size: 2rem;
    }

    .sobremi__imagen{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .sobremi__texto {
        margin: 0 auto;
        width: 90%;
        height: auto;
        font-size: 1rem;
        text-align: left;
    }
    
    .sobremi__caracteristicas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: auto;
    }
    
    .card-text-cualidades {
        font-size: 1.2rem;
    }

    .card-cualidades {
        padding: 0;
    }
    
    
    /* SECCION HABILIDADES */
    
    .barra__caja {
        width: 80%;
    }
    
    .barra__fondo {
        background-color: #00000050;
        width: 90%;
        height: 30px;
    }
    
    .barra__contenido {
        justify-items: center;
        height: 100%;
        height: 30px;
        background-color: #D11B35;
    }
    
    .barra__num {
        font-size: 1.1rem;
    }

    .programas__titulo{
        text-align: center;
        font-size: 2rem;
    }
    
    .habilidades__programas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .caja__tarjetas {
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .caja__individual {
        margin: 25px auto;
        padding-bottom: 1rem;
        width: 70%;
        height: auto;
    }
    
    .titulo__programa {
        font-size: 1.3rem;
        height: auto;
    }
    
    .bajada__programa {
        font-size: 1.2rem;
        height: auto;
    }
    
    .programa__logo{
        height: 70px;
    }

}
    